.card{
    width: 300px;
    border-radius: 5px;
    box-shadow: -9px 2px 53px 0px rgba(148,148,148,1);
    padding: 20px;
}

.my-form-group{
    margin: auto;
    display: block;
}
.my-label{
    display: block;
    margin: auto;
}
.my-input{
    padding: 10px;
    display: block;
    margin: auto;
}
.btn-salvar{
    border: none;
    background-color: #f1c40f;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 5px;
    width: 40%;
}
.btn-salvar:hover{
    cursor: pointer;
}